<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>按钮图标_AmaAdmin后台管理系统模板</title>
<link rel="stylesheet" href="__padmin__/css/style.default.css" type="text/css" />
<script type="text/javascript" src="__padmin__/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="__padmin__/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="__padmin__/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="__padmin__/js/custom/general.js"></script>
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="__padmin__/css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="__padmin__/css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="__padmin__/js/plugins/css3-mediaqueries.js"></script>
<![endif]-->
</head>

<body class="withvernav">
<div class="bodywrapper">
    {include file='index/public/header'}<!--header-->
    
    {include file='index/public/menu'}<!--leftmenu-->
        
    <div class="centercontent">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">Buttons &amp; Icons</h1>
            <span class="pagedesc">This is a sample description of a page</span>
            
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper lineheight21">
        
        
                   <div class="contenttitle2">
                   		<h3>Icon Buttons With Text</h3>
                   </div><!--contenttitle-->
                   
                   
                   <ul class="buttonlist">
                   		<li><a href="" class="btn btn_search radius50"><span>Search</span></a></li>
                   		<li><a href="" class="btn btn_trash"><span>Trash</span></a></li>
                   		<li><a href="" class="btn btn_flag"><span>Flag</span></a></li>
                   		<li><a href="" class="btn btn_home"><span>Home</span></a></li>
                   		<li><a href="" class="btn btn_link"><span>Link</span></a></li>
                   		<li><a href="" class="btn btn_book"><span>Book</span></a></li>
                   		<li><a href="" class="btn btn_mail"><span>Mail</span></a></li>
                   		<li><a href="" class="btn btn_help"><span>Help</span></a></li>
                   		<li><a href="" class="btn btn_rss"><span>RSS</span></a></li>
                   		<li><a href="" class="btn btn_archive"><span>Archive</span></a></li>
                   		<li><a href="" class="btn btn_info"><span>Info</span></a></li>
                   		<li><a href="" class="btn btn_bell"><span>Bell</span></a></li>
                   		<li><a href="" class="btn btn_world"><span>World</span></a></li>
                   		<li><a href="" class="btn btn_bulb"><span>Bulb</span></a></li>
                   		<li><a href="" class="btn btn_cloud"><span>Cloud</span></a></li>
                    </ul>
                    
                    <p>You can change this to any color you want. Read the documentation on how. Below is an example.</p>
                    
                    <ul class="buttonlist">
                   		<li><a href="" class="btn btn_orange btn_search radius50"><span>Search</span></a></li>
                   		<li><a href="" class="btn btn_orange btn_trash"><span>Trash</span></a></li>
                   		<li><a href="" class="btn btn_orange btn_flag"><span>Flag</span></a></li>
                   		<li><a href="" class="btn btn_orange btn_home"><span>Home</span></a></li>
                   		<li><a href="" class="btn btn_orange btn_link"><span>Link</span></a></li>
                    </ul>
                    
                    <br />
                    
                    <div class="contenttitle2">
                   		<h3>Rounded Buttons With Text</h3>
                   </div><!--contenttitle2-->
                   
                   
                   <ul class="buttonlist">
                   		<li><a href="" class="btn btn2 btn_search"><span>Search</span></a></li>
                   		<li><a href="" class="btn btn2 btn_trash"><span>Trash</span></a></li>
                   		<li><a href="" class="btn btn2 btn_flag"><span>Flag</span></a></li>
                   		<li><a href="" class="btn btn2 btn_home"><span>Home</span></a></li>
                   		<li><a href="" class="btn btn2 btn_link"><span>Link</span></a></li>
                   		<li><a href="" class="btn btn2 btn_book"><span>Book</span></a></li>
                   		<li><a href="" class="btn btn2 btn_mail"><span>Mail</span></a></li>
                   		<li><a href="" class="btn btn2 btn_help"><span>Help</span></a></li>
                   		<li><a href="" class="btn btn2 btn_rss"><span>RSS</span></a></li>
                   		<li><a href="" class="btn btn2 btn_archive"><span>Archive</span></a></li>
                   		<li><a href="" class="btn btn2 btn_info"><span>Info</span></a></li>
                   		<li><a href="" class="btn btn2 btn_bell"><span>Bell</span></a></li>
                   		<li><a href="" class="btn btn2 btn_world"><span>World</span></a></li>
                   		<li><a href="" class="btn btn2 btn_bulb"><span>Bulb</span></a></li>
                   		<li><a href="" class="btn btn2 btn_cloud"><span>Cloud</span></a></li>
                    </ul>
                    
                    <p>You can change this to any color you want. Read the documentation on how. Below is an example.</p>
                    
                    <ul class="buttonlist">
                   		<li><a href="" class="btn btn2 btn_blue btn_search radius50"><span>Search</span></a></li>
                   		<li><a href="" class="btn btn2 btn_blue btn_trash"><span>Trash</span></a></li>
                   		<li><a href="" class="btn btn2 btn_blue btn_flag"><span>Flag</span></a></li>
                   		<li><a href="" class="btn btn2 btn_blue btn_home"><span>Home</span></a></li>
                   		<li><a href="" class="btn btn2 btn_blue btn_link"><span>Link</span></a></li>
                    </ul>

                    
                   <br />
                    
                   <div class="contenttitle2">
                   		<h3>Icon Buttons Without Text</h3>
                   </div><!--contenttitle-->
                   
                   
                   <ul class="buttonlist">
                   		<li><a href="" class="btn btn3 btn_search"></a></li>
                   		<li><a href="" class="btn btn3 btn_trash"></a></li>
                   		<li><a href="" class="btn btn3 btn_flag"></a></li>
                   		<li><a href="" class="btn btn3 btn_home"></a></li>
                   		<li><a href="" class="btn btn3 btn_link"></a></li>
                   		<li><a href="" class="btn btn3 btn_book"></a></li>
                   		<li><a href="" class="btn btn3 btn_mail"></a></li>
                   		<li><a href="" class="btn btn3 btn_help"></a></li>
                   		<li><a href="" class="btn btn3 btn_rss"></a></li>
                   		<li><a href="" class="btn btn3 btn_archive"></a></li>
                   		<li><a href="" class="btn btn3 btn_info"></a></li>
                   		<li><a href="" class="btn btn3 btn_bell"></a></li>
                   		<li><a href="" class="btn btn3 btn_world"></a></li>
                   		<li><a href="" class="btn btn3 btn_bulb"></a></li>
                   		<li><a href="" class="btn btn3 btn_cloud"></a></li>
                    </ul>
                    
                    <p>You can change this to any color you want. Read the documentation on how. Below is an example.</p>
                    
                    <ul class="buttonlist">
                   		<li><a href="" class="btn btn3 btn_black btn_search radius50"></a></li>
                   		<li><a href="" class="btn btn3 btn_black btn_trash"></a></li>
                   		<li><a href="" class="btn btn3 btn_black btn_flag"></a></li>
                   		<li><a href="" class="btn btn3 btn_black btn_home"></a></li>
                   		<li><a href="" class="btn btn3 btn_black btn_link"></a></li>
                    </ul>
                    
                    <br />
                    
                    <div class="contenttitle2">
                   		<h3>Rounded Buttons Without Text</h3>
                   </div><!--contenttitle-->
                   <br />
                   
                   <ul class="buttonlist">
                   		<li><a href="" class="btn btn4 btn_search"></a></li>
                   		<li><a href="" class="btn btn4 btn_trash"></a></li>
                   		<li><a href="" class="btn btn4 btn_flag"></a></li>
                   		<li><a href="" class="btn btn4 btn_home"></a></li>
                   		<li><a href="" class="btn btn4 btn_link"></a></li>
                   		<li><a href="" class="btn btn4 btn_book"></a></li>
                   		<li><a href="" class="btn btn4 btn_mail"></a></li>
                   		<li><a href="" class="btn btn4 btn_help"></a></li>
                   		<li><a href="" class="btn btn4 btn_rss"></a></li>
                   		<li><a href="" class="btn btn4 btn_archive"></a></li>
                   		<li><a href="" class="btn btn4 btn_info"></a></li>
                   		<li><a href="" class="btn btn4 btn_bell"></a></li>
                   		<li><a href="" class="btn btn4 btn_world"></a></li>
                   		<li><a href="" class="btn btn4 btn_bulb"></a></li>
                   		<li><a href="" class="btn btn4 btn_cloud"></a></li>
                    </ul>
                    
                    <p>You can change this to any color you want. Read the documentation on how. Below is an example.</p>
                    
                    <ul class="buttonlist">
                   		<li><a href="" class="btn btn4 btn_yellow btn_search radius50"></a></li>
                   		<li><a href="" class="btn btn4 btn_yellow btn_trash"></a></li>
                   		<li><a href="" class="btn btn4 btn_yellow btn_flag"></a></li>
                   		<li><a href="" class="btn btn4 btn_yellow btn_home"></a></li>
                   		<li><a href="" class="btn btn4 btn_yellow btn_link"></a></li>
                    </ul>

                    
                    <br />
                    
                    <div class="contenttitle2">
                   		<h3>Form Buttons</h3>
                   </div><!--contenttitle-->
                   
                   
                   <ul class="buttonlist">
                   		<li><button class="stdbtn">Form Button</button></li>
                   		<li><button class="stdbtn btn_yellow">Form Button</button></li>
                        <li><button class="stdbtn btn_blue">Form Button</button></li>
                        <li><button class="stdbtn btn_black">Form Button</button></li>
                        <li><button class="stdbtn btn_lime">Form Button</button></li>
                        <li><button class="stdbtn btn_orange">Form Button</button></li>
                        <li><button class="stdbtn btn_red">Form Button</button></li>
                   </ul>
                   
                   <br clear="all" />
                    
                   <div class="contenttitle2">
                    	<h3>Image Loaders</h3>
                   </div><!--contenttitle-->
                   
                    
                    <div class="loaders">
                    	<img src="__padmin__/images/loaders/loader1.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader2.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader3.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader4.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader8.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader9.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader5.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader6.gif" alt="" />

                        <img src="__padmin__/images/loaders/loader7.gif" alt="" />
                        <img src="__padmin__/images/loaders/loader10.gif" alt="" />
                        <br /><br />
                        <small>You can create your own loader images by going to <a href="ajaxload.info">ajaxload.info</a></small>
                    </div><!--loaders-->
        
        
        </div><!--contentwrapper-->
        
	</div><!-- centercontent -->
    
    
</div><!--bodywrapper-->

</body>
</html>
