<div class="vernav2 iconmenu">
        <ul>
            <li><a href="#formsub" class="editor">表单提交</a>
                <span class="arrow"></span>
                <ul id="formsub">
                    <li><a href="{:url('admin/index/forms')}">基础表单</a></li>
                    <li><a href="{:url('admin/index/wizard')}">表单验证</a></li>
                    <li><a href="{:url('admin/index/editor')}">编辑器</a></li>
                </ul>
            </li>
            <!--<li><a href="filemanager.html" class="gallery">文件管理</a></li>-->
            <li><a href="{:url('admin/index/elements')}" class="elements">网页元素</a></li>
            <li><a href="{:url('admin/index/widgets')}" class="widgets">网页插件</a></li>
            <li><a href="{:url('admin/index/calendar')}" class="calendar">日历事件</a></li>
            <li><a href="{:url('admin/index/support')}" class="support">客户支持</a></li>
            <li><a href="{:url('admin/index/typography')}" class="typo">文字排版</a></li>
            <li><a href="{:url('admin/index/tables')}" class="tables">数据表格</a></li>
            <li><a href="{:url('admin/index/buttons')}" class="buttons">按钮 &amp; 图标</a></li>
            <li><a href="#error" class="error">错误页面</a>
                <span class="arrow"></span>
                <ul id="error">
                    <li><a href="{:url('admin/index/notfound')}">404错误页面</a></li>
                    <li><a href="{:url('admin/index/forbidden')}">403错误页面</a></li>
                    <li><a href="{:url('admin/index/internal')}">500错误页面</a></li>
                    <li><a href="{:url('admin/index/offline')}">503错误页面</a></li>
                </ul>
            </li>
            <li><a href="#addons" class="addons">其他页面</a>
                <span class="arrow"></span>
                <ul id="addons">
                    <li><a href="{:url('admin/index/newsfeed')}">新闻订阅</a></li>
                    <li><a href="{:url('admin/index/profile')}">资料页面</a></li>
                    <li><a href="{:url('admin/index/productlist')}">产品列表</a></li>
                    <li><a href="{:url('admin/index/photo')}">图片视频分享</a></li>
                    <li><a href="#">相册</a></li>
                    <li><a href="#">购物车</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div>